{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<section class="vh-100 bg-image"
  style="background-image: url('{% static 'images/img4.webp'%}'); background-size: cover; background-repeat: no-repeat; background-position: center center;">  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login</h2>

              <form action="" method="post">
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="username"/>
                  <label class="form-label" for="form3Example1cg">Username or email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" name="pass"/>
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                {% for message in messages %}
                <!-- <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"></div> -->
                <div class="alert_txt">{{ message }}
                <!-- <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button> -->
                </div>
              {% endfor %}

                <a href="{% url 'reset_password' %}"class="text-body" ><u>Forgot password</u></a>
    

                <div class="d-flex justify-content-center">
                    <input type="submit" name="authenticate" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                </div>
                
            </form>
            <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="{% url 'signup' %}"
                class="fw-bold text-body"><u>Register here</u></a></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}