{% autoescape off %}
<h4>Hello,</h4><br><br>

We received a request to reset the password for your account associated <br>
with {{ name }}. To proceed with the password reset, <br>
please click the following reset link:
<br>
<br>
<a href="https://{{ domain }}{% url 'reset_pass' uidb64=uid token=token%}">Password Reset Link</a>
<br><br>
If you did not request this password reset or believe it to be an <br>
error, please disregard this message.

<br>
<br>
Best regards,
<br>
Darksales SHC Team<br>
{% endautoescape %}